<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bodza Travels</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <header class="navbar">
        <nav class="nav-menu">
            <span class="nav-logo">Bodza Travels</span>
            <div class="nav-center">
                <a href="#" class="nav-item">HOME</a>
                <a href="about.html" class="nav-item">ABOUT</a>
                <a href="support.html" class="nav-support">HELP</a>
            </div>
        </nav>
    </header>
    <main class="hero">
        <div class="hero-overlay">
            <h1 class="title">Bodza Travels</h1>
            <p class="subtitle">Discover the best places to visit in your city with Bodza!</p>
            <form id="cityForm" class="search-box">
                <input type="text" name="city" id="cityInput" placeholder="Give me a city and I'll show you what to do!" autocomplete="off" />
                <button type="submit">Let's go!</button>
            </form>
            <div id="placesList"></div>
        </div>
    </main>
    <footer class="footer">
        <p>Milla Major&copy;</p>
        <p>NHL Stenden</p>
        <p>2025</p>
    </footer>

    <script src="../static/js/homepage.js"></script>
</body>
</html>
