<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../static/images/logo.ico" type="image/x-icon" />
  <title>Support Submitted</title>
  <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
  <header class="navbar">
        <nav class="nav-menu">
            <span class="nav-logo">
                <img src="../static/images/logo.png" alt="logo">
                Bodza Travels
            </span>
            <div class="nav-center">
                <a href="/" class="nav-item">HOME</a>
                <a href="/about" class="nav-item">ABOUT</a>
                <a href="/recent_places" class="nav-item">RECENTLY SEARCHED</a>
            </div>
            <div class="nav-right">
                <a href="/support" class="nav-support">HELP</a>
            </div>
        </nav>
  </header>

  <main class="main-content">
    <div class="main-content-overlay">
      <h1 class="title">Thank you, {{ name }}!</h1>
      <p class="subtitle">Your message has been received. We'll get back to you as soon as possible.</p>
      <a href="/" class="form-back">Go back to home</a>
    </div>
  </main>

  <footer class="footer">
    <p>Milla Major&copy;</p>
    <p>NHL Stenden</p>
    <p>2025</p>
  </footer>
</body>
</html>
